.footer-content{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    border-top: 1px solid var(--color-brand1-light);
    padding-top: 2rem;
}

.footer-content__face{
    max-width: 36px;
    max-height: 36px;
}

.footer-content__eat{
    color: var(--color-brand1-light);
}
