.footer__content{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    border-top: 1px solid rgb(147, 143, 141);
    padding-top: 2rem;
}

.footer__content__face{
    max-width: 36px;
    max-height: 36px;
}

.footer__content__Eat{
    color: rgb(147, 143, 141);
}