.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*mostrar menu hamburguesa, ocultar las opciones*/

label{
  font-size: 36px;
  width: 35px;
  cursor: pointer;
  display: block;
}

#toogle{
  display: none;
}

#toogle:checked + .menu{
  display: block;
}

.nav-option{
  text-decoration: none;
  color: var(--color-brand1);
  display: block;
  font-size: 12px;
}

.menu{
  display: none;
}

.nav{
  height: 6rem;
  width: 4rem;
  margin-top: 2rem;
}

@media screen and (min-width: 719px) {/*cuando el tamaño del browser sea 719px o mas*/

/*ocultar menu hamburguesa, dejar las opciones visibles*/

  label{
    display: none;
  }

  .menu{
    width: 20em;
    display: flex;
    justify-content: space-evenly;
  }

  .nav{
    margin-top: 6rem;
    width: 20em;
  }

  .nav-option{
    display: inline;
    font-size: 12px;
  }

}